service: discord-webhook
custom:
  stage: '${opt:stage, self:provider.stage}'
  region: '${opt:region, self:provider.region}'
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules:
      forceExclude:
        - aws-sdk
        - js-yaml
    packager: npm
plugins:
  - serverless-pseudo-parameters
  - serverless-step-functions
  - serverless-webpack
functions:
  listen:
    description: listens for BitBucket events
    handler: lib/handlers/listen.handler
    timeout: 2
    memorySize: 512
    events:
      - http:
          method: post
          path: /bitbucket
          cors: true
stepFunctions: {}
provider:
  name: aws
  runtime: nodejs8.10
  stage: prod
  region: us-west-2
  environment: '${file(serverless-config/env.yml):${self:custom.stage}}'
  iamRoleStatements:
    - Effect: Allow
      Action:
        - 'xray:PutTraceSegments'
        - 'xray:PutTelemetryRecords'
      Resource:
        - '*'
    - Effect: Allow
      Action:
        - 'ssm:GetParameter'
        - 'ssm:GetParametersByPath'
      Resource:
        - 'arn:aws:ssm:us-west-2*'
    - Effect: Allow
      Action:
        - 'states:ListStateMachines'
        - 'states:CreateActivity'
        - 'states:StartExecution'
        - 'states:ListExecutions'
        - 'states:DescribeExecution'
        - 'states:DescribeStateMachineForExecution'
        - 'states:GetExecutionHistory'
      Resource:
        - 'arn:aws:states:us-west-2:xxxx-xxxx-xxxx:stateMachine:*'
        - 'arn:aws:states:us-west-2:xxxx-xxxx-xxxx:execution:*:*'
package:
  individually: true
  excludeDevDependencies: false
  browser: false
